---
import { SITE } from '../consts';
---

<header>
  <nav>
    <h2><a href="/blog">{SITE.title}</a></h2>
  </nav>
  <style>
    header {
      margin: 0;
      padding: 0 1em;
      background: rgb(var(--white));
    }
    h2 {
      margin: 0;
      font-size: 1em;
    }

    h2 a,
    h2 a.active {
      text-decoration: none;
    }
    nav {
      display: flex;
      align-items: center;
    }
  </style>
</header>
